---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: sans-serif;
$code-font-family: monospace;
$base-font-size: 14px;

@import "minima";

pre, code {
  font-size: 13px;
}

// // h1,
// h2, h3, h4, h5, h6 {
//   font-weight: 600;
// }

h1 {
  font-size: 24pt !important;
  // margin-top: 25px;
}
.post-content {
  h2 {
    font-size: 20pt !important;
  }
  h3 {
    font-size: 16pt !important;
    font-style: italic;
  }
  h4 {
    font-size: 15pt !important;
    font-style: italic;
  }

  // h1, h2, h3, h4, h5, h6 {
  //   margin-top: 25px;
  //   margin-bottom: 10px;
  // }
}
